


@media screen and (max-width: 600px) {
  *{
    text-align: center;
  }
    
    #skillimg{
        display: none;
    }
    .skill{
        margin-bottom: 10px;
    }
    .skill-graph{
margin: 10px auto;
    }
  }
  